
<h1><%= @place["name"] %></h1>

<h2>
<a href="/posts/new?place_id=<%= @place["id"] %>">Create new post for <%= @place["name"]%></a>
</p>

<ul>
  <% if @posts.nil? %>
    <li>No posts available.</li>
  <% else %>
    <% for post in @posts %>
      <li>
        <h3><%= post["title"] %> </h3>
        <%= post["posted_on"] %>
        <br>
        <%= post["description"] %>

      </li>
    <% end %>
  <% end %>
</ul>


<p>
    <a href="/places">Back to all places</a>
</p>

